<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acod.play.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/playlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name=".RecentSearchSuggestionProvider"
            android:authorities="com.acod.RecentSearchSuggestionProvider" />
        <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19" />
        <service android:name=".MediaService" />

        <activity
            android:name="com.acod.play.app.HomescreenActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:value="@xml/searchable" />
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
